@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border: 16px solid #f3f3f3; /* 设置边框颜色 */
    border-top: 16px solid blue; /* 设置顶部边框颜色 */
    border-radius: 50%; /* 设置圆形边框 */
    width: 120px; /* 设置圆的宽度 */
    height: 120px; /* 设置圆的高度 */
    animation: spin 2s linear infinite; /* 设置旋转动画 */
    margin: 0 auto; /* 居中显示 */
}
html,body,#root{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}